<div class="reset-password-container">
    <h2>Reset Password</h2>
    <form>
      <div class="form-field">
        <label for="email">email:</label>
        <input type="text" id="username" name="username" [(ngModel)]="email" autocomplete="username">
      </div>
      <div class="form-field">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" autocomplete="new-password" [(ngModel)]="body.password" class="ng-valid ng-dirty ng-touched">
      </div>
      <div class="form-field">
        <button pButton label="Reset Password" class="p-button-primary" (click)="resetPassword()"></button>
      </div>
       <div *ngIf="errorMessage">{{errorMessage}}</div>
    </form>
  </div>
  