<p>forget-password works!</p>

<!-- forget-password.component.html -->
<div class="forget-password-container">
    <h2>Forgot Password</h2>
    <form>
    <div class="form-field">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" [(ngModel)]="body.email" pInputText placeholder="Enter your email" />
    </div>
    <div class="form-field">
      <button pButton label="Reset Password" class="p-button-primary" (click)="forgetPassword()"></button>
    </div>

    <div *ngIf="errorMessage" id="err-message">{{ errorMessage }}</div>
</form>
</div>
  